@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using wadmin.Models
<ul class="navbar-nav">
    @if(ViewBag.User.IsAuthenticated)
    {
        AuthenUserInfo authenUser = ViewBag.User;
        if ( authenUser.Email != "")
        {
            <li class="nav-item">
                <span id="manage" class="nav-link text-dark" title="Manage"><i class="fa-solid fa-user"></i> คุณ @authenUser.FullName [ Admin :  @authenUser.CompanyCode ] </span>
            </li>
        }
        else
        {
            <li class="nav-item">
                <span id="manage" class="nav-link text-dark" title="Manage"><i class="fa-solid fa-user"></i> คุณ @authenUser.FullName [ Admin :  @authenUser.CompanyCode ] </span>
            </li>
        }

        <li class="nav-item">
            <a id="logout" class="nav-link text-dark" title="Logout" asp-page="/Id/Logout" title="Manage"><i class="fa-solid fa-right-from-bracket"></i> ออกจากระบบ</a>
        </li>
    }
    else
    {
        
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Id/Login">Login</a>
        </li>
    }
</ul>
