@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using wadmin.Models

 <ul class="navbar-nav flex-grow-1">
    @if(ViewBag.User.IsAuthenticated)
    {
        AuthenUserInfo authenUser = ViewBag.User; //new AuthenUserInfo(User);
        @if(authenUser.Role.ToUpper() == "REPORTER" ||  authenUser.Role.ToUpper() == "APPADMIN")
         {
            //authenUser.workplace.ToUpper();
            @if(authenUser.Role.ToUpper() == "APPADMIN")
            {  
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">หน้าหลัก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Shifts/Index">กะทำงาน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Reasons/Index">เหตุผล</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Permissions/Index">กำหนดสิทธิ์</a>
                </li>
            
                @* <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Manage/Transfer">ส่งข้อมูลไป ESS</a>
                </li> *@
                @* <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                         ตรวจสอบข้อมูล
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-page="/Manage/Manages">Check Plan OT Data fail</a></li>
                    </ul>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-page="/Manage/Match">Match</a></li>
                    </ul>
                </li> *@

            }  
            <li class="nav-item dropdown">
                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    รายงาน
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item"  asp-page="/Reports/Reports">แผนรายสัปดาห์</a></li>
                    <li><a class="dropdown-item"  asp-page="/Reports/ReportDay">แผนรายวัน</a></li> 
                    <li><a class="dropdown-item" asp-page="/Reports/Index">สรุปแผนพนักงานแบบ Excel</a></li>
                    <li><a class="dropdown-item" asp-page="/Route/EmployeeRoute">สรุปสายรถพนักงาน</a></li>
                    <li><a class="dropdown-item" asp-page="/Manage/Manages">ตรวจสอบแผนที่ส่งขึ้น Ess</a></li>
                    <li><a class="dropdown-item" asp-page="/Manage/Checkplanbyemp">ตรวจสอบแผนของพนักงานรายคน</a></li>
                    
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="../../Template/EOT Admin Manual.pdf"
                    target="_blank">คู่มือ</a>
            </li>
        }
        else
        {
             
            if(authenUser.IsManager)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Reports/Index">ข้อมูลสรุปแผนพนักงาน</a>
                </li>
                     <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Route/EmployeeRoute">สรุปสายรถพนักงาน</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Manage/Checkplanbyemp">ตรวจสอบแผนของพนักงานรายคน</a>
                </li>
              
                
            }
        }
        
    }
    
</ul>

@* <ul class="navbar-nav flex-grow-1">
    @if(User.Identity.IsAuthenticated)
    {

        var authenUser = new authenUserInfo(User);
        var UserInfo = new UserInfo(User.Claims.FirstOrDefault(c => c.Type == "EmployeeId").Value);
             
            @if(UserInfo.Admin == true)
            {  
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">หน้าหลัก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Shifts/Index">กะทำงาน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Reasons/Index">เหตุผล</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Permissions/Index">กำหนดสิทธิ์</a>
                </li>
            }  
            <li class="nav-item dropdown">
                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    รายงาน
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item"  asp-page="/Reports/Reports">Week</a></li>
                    <li><a class="dropdown-item"  asp-page="/Reports/ReportDay">Day</a></li> 
                  
                    <li><a class="dropdown-item" asp-page="/Reports/Index">Excel</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="../../Template/EOT Admin Manual.pdf"
                    target="_blank">คู่มือ</a>
            </li>
 
     
    }
</ul> *@
